/* Initialize, Reset */

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    line-height: 1.7;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Utility */

.btn {
    padding: 0.7rem 1.4rem;
    border-radius: 100px;
    position: relative;
    display: inline-block;
}

.btn--green {
    background:#71D10D;
    color: #fff;
    transition: all .2s;
    
}

.btn--red {
    background:#FE0000;
    color: #fff;
    transition: all .2s;
    
}

.btn--animated:hover {
    transform:translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn--animated:active {
    transform: translateY(0);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);;
}

.btn--green::after {
    content: "";
    width: 100%;
    height: 100%;
    background: #71D10D;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100px;
    z-index: -1;
    transition: all .5s;
}

.btn--green:hover::after {
    transform: scale(1.5);
    opacity:0;
    z-index: 1;
}

.btn--red::after {
    content: "";
    width: 100%;
    height: 100%;
    background: #FE0000;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100px;
    z-index: -1;
    transition: all .5s;
}

.btn--red:hover::after {
    transform: scale(1.5);
    opacity:0;
    z-index: 1;
}

/* Header */

.header {
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0, 0, 0, 0.6)), url("img/header-bg.jpg");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    position: relative;
    color: #fff;
    padding: 0 15rem;
}

.header__nav {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    align-items: center;
}

.header__brand {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__title {
    font-size: 1.1rem;
}

.header__brand img {
    height: 40px;
}

.header__items {
    display: flex;
}

.header__items > li {
    margin: 0 0.6rem;
    font-size: 0.9rem;
    position: relative;
}

.header__items > li:not(:last-child)::after {
    content: "";
    position:absolute;
    top:23px;
    left:0;
    width: 0;
    height: 3px;
    background: #71D10D;
    opacity: 0;
    transition: all .5s;
}

.header__items > li:hover::after {
    opacity: 1;
    width: 100%;

}

.fa-chevron-down {
    margin-left: 0.1rem;
    color: #71D10D;
    font-size: 0.6rem;
}

.header__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header__title {
    line-height: 1.3;
    margin-bottom: 1.2rem;
}

.header__titlemain {
    font-size: 3.5rem;
}

.header__titlesub {
    font-size: 3rem;
}

.header__titlemaininfo {
    font-size: 1.2rem;
}

.header__titlesubinfo {
    font-size: 1.2rem;
}

.header__content form {
    margin: 4rem 0;
    
}

.header__content form input {
    width: 79%;
    border:none;
    background:#fff;
    padding: 0.7rem 0.5rem;
    border-radius: 100px;
    font-size: 1rem;
}

.header__content form a {
    font-size: 1rem;
    text-align: center;
    width: 20%;
}

.header__information {
    display: flex;
    justify-content: center;
}

.header__informationbox {
    margin: 0 0.5rem;
    background: rgba(255, 255, 255, 0.15);
    padding: 1rem 0;
    border-radius: 5px;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    transition: all .2s;
}

.header__informationbox:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); 
}

.header__informationbox i {
    font-size: 2rem;
    margin-bottom: 0.2rem;
    color: #71D10D;
}

.header__informationbox p {
    font-size: 0.8rem;
}

/* Section Booking */

.booking {
    padding: 1.5rem 20rem;
    background: #fff;
    max-width:125rem;
    position: relative;
}

.booking__content {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.booking__titlemain {
    font-size: 1.2rem;
    color: #545454;
    text-transform: uppercase;
}

.booking form {
    display: flex;
    align-items: center;
}

.booking form label {
    font-size: 0.8rem;
    margin-right: 0.8rem;
    color: #545454;
}

.booking form input {
    border:none;
    background:#fff;
    padding: 0.7rem 0.5rem;
    border-radius: 100px;
    font-size: 1rem;
    border: 2px solid #71D10D;
}

.booking form input:not(:last-child){
    margin-right: 1.5rem;
}

.booking form i {
    margin-right: 2.5rem;
    margin-left: -3.5rem;
    font-size: 1.2rem;
    color:#71D10D;
}

.booking__content a {
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    flex-shrink:0;
}




