/* Initialize, Reset */

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    line-height: 1.7;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Variables */

:root {
    --primary-color: #71D10D;
    --secondary-color: #FE0000;
    --white-color:#fff;
    --header-color:#434343;
    --sub-header-color:#545454;
  }

/* Utility */

.btn {
    width: 150px;
    border-radius: 100px;
    position: relative;
    display: inline-block;
    text-align: center;
}

.btn--normal {
    padding: 0.5rem 0.5rem;
}

.btn--small {
    padding: 0.3rem 0.5rem;
}

.btn--green {
    background:var(--primary-color);
    color: var(--white-color);
    transition: all .2s;
    
}

.btn--red {
    background: var(--secondary-color);
    color: var(--white-color);
    transition: all .2s;
}

.btn--red__outline {
    background: transparent;
    color: var(--header-color);
    transition: all .3s;
    border: 2px solid var(--secondary-color);
}

.btn--red__outline:hover {
    background: var(--secondary-color);
    color: var(--white-color);
}

.btn--animated:hover {
    transform:translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn--animated:active {
    transform: translateY(0);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);;
}

.btn--green::after {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--primary-color);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100px;
    z-index: -1;
    transition: all .5s;
}

.btn--green:hover::after {
    transform: scale(1.5);
    opacity:0;
    z-index: 1;
}

.btn--red::after {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--secondary-color);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100px;
    z-index: -1;
    transition: all .5s;
}

.btn--red:hover::after {
    transform: scale(1.5);
    opacity:0;
    z-index: 1;
}

/* Animations */

@keyframes mealCardEntrance {
    0% {
        opacity: 0;
        transform: scale(0.3);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* Header */

.header {
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0, 0, 0, 0.6)), url("img/header-bg.jpg");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    position: relative;
    color: var(--white-color);
    padding: 0 15rem;
}

.header__nav {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    align-items: center;
}

.header__brand {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__title {
    font-size: 1.1rem;
}

.header__brand img {
    height: 40px;
}

.header__items {
    display: flex;
}

.header__items > li {
    margin: 0 0.6rem;
    font-size: 0.9rem;
    position: relative;
}

.header__items > li:not(:last-child)::after {
    content: "";
    position:absolute;
    top:23px;
    left:0;
    width: 0;
    height: 3px;
    background: var(--primary-color);
    opacity: 0;
    transition: all .5s;
}

.header__items > li:hover::after {
    opacity: 1;
    width: 100%;

}

.fa-chevron-down {
    margin-left: 0.1rem;
    color: var(--primary-color);
    font-size: 0.6rem;
}

.header__content {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header__title {
    line-height: 1.3;
    margin-bottom: 1.2rem;
}

.header__title-main {
    font-size: 3.5rem;
}

.header__title-esub {
    font-size: 3rem;
}

.header__info-main {
    font-size: 1.2rem;
}

.header__info-sub {
    font-size: 1.2rem;
}

.header__content form {
    margin: 4rem 0;
    display: flex;
    
}

.header__content form input {
    border:none;
    background: var(--white-color);
    padding: 0.7rem 0.5rem;
    border-radius: 100px;
    font-size: 1rem;
    width: 100%;
}

.header__content form a {
    font-size: 1rem;
    text-align: center;
    width: 25%;
    margin-left: -2.5rem;
}

.header__information {
    display: flex;
    justify-content: center;
    margin-bottom: 6rem;
}

.header__information-box {
    margin: 0 0.5rem;
    background: rgba(255, 255, 255, 0.15);
    padding: 1rem 0;
    border-radius: 5px;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    transition: all .2s;
}

.header__information-box:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); 
}

.header__information-box i {
    font-size: 2rem;
    margin-bottom: 0.2rem;
    color: var(--primary-color);
}

.header__information-box p {
    font-size: 0.8rem;
}

.header__content-meal {
    font-size: 1rem;
    text-transform: uppercase;
    
}

/* Section Booking */

.booking {
    padding: 1.5rem 20rem;
    background: var(--white-color);
    max-width:125rem;
    position: relative;
}

.booking__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.booking__title-main {
    font-size: 1.2rem;
    color: var(--sub-header-color);
    text-transform: uppercase;
}

.booking form {
    display: flex;
    align-items: center;
}

.booking form label {
    font-size: 0.8rem;
    margin-right: 0.8rem;
    color: var(--sub-header-color);
}

.booking form input {
    border:none;
    background: var(--white-color);
    padding: 0.7rem 0.5rem;
    border-radius: 100px;
    font-size: 1rem;
    border: 2px solid var(--primary-color);
}

.booking form input:not(:last-child){
    margin-right: 1.5rem;
}

.booking form i {
    margin-right: 2.5rem;
    margin-left: -3.5rem;
    font-size: 1.2rem;
    color: var(--primary-color);
}

.booking__content a {
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    flex-shrink:0;
}

/* Section meals */

.meals {
    padding: 3rem 20rem;
    background: #F3F7FA;
    max-width:125rem;
}

.meals__content{
    text-align: center;
}

.meals__title {
    text-align: center;
}

.meals__title-main {
    font-size: 2rem;
    color: var(--header-color);
}

.meals__title-sub {
    font-size: 1rem;
    color: var(--sub-header-color);
}

.meals__list {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 4rem 0;
}

.meals__list:hover .meals__card{
    transform: scale(0.95);
}

.meals__card {
    background: var(--white-color);
    height:300px;
    animation: mealCardEntrance .7s ease-out;
    animation-fill-mode: backwards;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
    0 2px 4px rgba(0,0,0,0.07), 
    0 4px 8px rgba(0,0,0,0.07), 
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07), 
    0 32px 64px rgba(0,0,0,0.07);
    transition: all .2s;
}

.meals__list .meals__card:hover {
    transform: translateY(-3px) scale(1.1);
}

.meals__card-header{
    height: 50%;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 2rem;
    position: relative;
}

.meals__image {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.meals__price {
    position: absolute;
    top: 0;
    left:0;
    background: var(--primary-color);
    clip-path: polygon(100% 0, 90% 50%, 100% 100%, 0 100%, 0 0);
    margin-top: 1.5rem;
}

.meals__price p {
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding: 0.1rem 0.8rem;
}

.meals__card-body {
    height: 50%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 1rem 1.2rem;
}

.meals__name {
    text-align: left;
    font-size: 1rem;
    line-height: 1.2rem;
}

.meals__description{
    display: flex;
    text-align: left;
    margin-top: 0.4rem;
    margin-bottom: 1rem;
}

.meals__description i {
    color: var(--primary-color);
    margin-right: 0.2rem;
}

.meals__description p {
    color: var(--sub-header-color);
    margin-right: 0.5rem;
    font-size: 0.8rem;
}

.meals__card-body a {
    font-size:1rem;
    text-transform: uppercase;
    font-weight: 600;
}

.meals__content a {
    font-size:1rem;
    text-transform: uppercase;
}

/* Special Section */

.special {
    padding: 3rem 20rem;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0, 0, 0, 0.6)), url("https://images.unsplash.com/photo-1565976469553-00d571cf97b9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1920&q=80");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    max-width:125rem;
}

.special__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.special__title {
    font-size: 2rem;
    color: var(--primary-color);
    font-weight: 900;
}

.special__offer {
    color: var(--white-color);
    font-size: 4rem;
    font-weight: 900;
    display:inline;
}

.special__info {
    font-size: 1rem;
    color: var(--white-color);
    margin-bottom: 1rem;
}

.special__coupon {
    font-size: 1.5rem;
    color: var(--white-color);
    margin-bottom: 0.5rem;
}

.special__content a {
    font-size:1rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 1rem;
}

/* About Section */

.about {
    padding: 3rem 20rem;
    max-width: 125rem;
    background: var(--white-color);
}

.about__title {
    text-align: center;
    margin-bottom: 3rem;
}

.about__title-main {
    font-size: 2rem;
    color: var(--header-color);
}

.about__cards {
    display: flex;
    justify-content: center;
}

.about__card {
    padding: 2rem 0;
    display: block;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
    0 2px 4px rgba(0,0,0,0.07), 
    0 4px 8px rgba(0,0,0,0.07), 
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07), 
    0 32px 64px rgba(0,0,0,0.07);
    width: calc(100% / 4);
    text-align: center;
    transition: .2s;
    border-radius: 3px;
}

.about__card:hover {
    transform: scale(1.05) translateY(-5px);
    background-color: var(--primary-color);
}

.about__card:hover i {
    color: var(--white-color);
}

.about__card:hover p {
    color: var(--white-color);
}

.about__card:not(:last-child){
    margin-right: 1.5rem;
}

.about__card i {
    margin-bottom: 0.5rem;
    font-size: 3rem;
    color: var(--primary-color);
}

.about__card-info {
    font-size: 1rem;
    color: var(--sub-header-color);
    font-weight: 600;
}

/* Section Reviews */

.reviews {
    padding: 3rem 20rem;
    max-width: 125rem;
    background: #F3F7FA
}

.reviews__title {
    text-align: center;
    margin-bottom: 3rem;
}

.reviews__title-main {
    font-size: 2rem;
    color: var(--header-color);
}

.reviews__cards {
    display: flex;
    justify-content: center;
}

.review__card {
    height: 300px;
    width: 100%;
}

.review__card:not(:last-child){
    margin-right: 3.5rem;
}

.review__layout {
    height:70%;
    background: #fff;
    padding: 1rem;
    clip-path: polygon(0% 0%, 100% 0%, 100% 87%, 18% 87%, 13% 100%, 8% 87%, 0 87%);
}

.review__message {
    color: var(--sub-header-color);
    font-size: 1rem;
    font-weight: 500;
}

.review__testimonial{
    height: 30%;
    display: flex;
    align-items: center;
}

.review__testimonial img {
    height:70px;
    border-radius: 100%;
    padding: 0 1rem;
}

.review__testimonial-name {
    color: #3a6fa3;
    font-size: 1rem;
    font-weight: 600;
}

.review__testimonial-company{
    color: var(--sub-header-color);
    font-size: 1rem;
    font-weight: 500;
}

/* Section Information */

.information {
    padding: 2.5rem 20rem;
    background: #515151;
    max-width:125rem;
}

.information__cards {
    display: flex;
    justify-content: center;
}

.information__card {
    width: calc(100% / 4);
}

.information__card:not(:last-child){
    margin-right: 1.5rem;
}

.information__title {
    font-size: 1rem;
    border-bottom: 2px solid grey;
    color: var(--white-color);
    margin-bottom:1.5rem;
    padding-bottom: 0.1rem;
}

.information__links--last {
    display: flex;
}

.information__links--last li {
    margin-right: 0.5rem;
}

.information__links--last li i {
    font-size: 2rem !important;
    
}

.information__links li {
    padding: 0.05rem 0;
    color: var(--white-color);
    font-size: 0.9rem;
    transition: .2s all;
}

.information__links li:hover {
    color: var(--primary-color);
}

.information__links > li i {
    margin-right: 0.2rem;
    font-size: 0.6rem;
}

/* Footer Section */

.footer {
    padding: 1.5rem 20rem;
    background: var(--white-color);
    max-width:125rem;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copyright {
    font-size: 1rem;
    color: var(--header-color);
}

.footer__payments {
    display: flex;
}

.footer__payments > li:not(:last-child) {
    margin-right: 1rem;
}

.footer__payments > li img {
    width: 40px;
}




