/* Initialize, Reset */

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    line-height: 1.7;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Variables */

:root {
    --primary-color: #71D10D;
    --secondary-color: #FE0000;
    --white-color:#fff;
    --header-color:#434343;
    --sub-header-color:#545454;
  }

/* Utility */

.btn {
    width: 150px;
    padding: 0.5rem 0.5rem;
    border-radius: 100px;
    position: relative;
    display: inline-block;
    text-align: center;
}

.btn--green {
    background:var(--primary-color);
    color: var(--white-color);
    transition: all .2s;
    
}

.btn--red {
    background: var(--secondary-color);
    color: var(--white-color);
    transition: all .2s;
}

.btn--red__outline {
    background: transparent;
    color: var(--header-color);
    transition: all .3s;
    border: 2px solid var(--secondary-color);
}

.btn--red__outline:hover {
    background: var(--secondary-color);
    color: var(--white-color);
}

.btn--animated:hover {
    transform:translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn--animated:active {
    transform: translateY(0);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);;
}

.btn--green::after {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--primary-color);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100px;
    z-index: -1;
    transition: all .5s;
}

.btn--green:hover::after {
    transform: scale(1.5);
    opacity:0;
    z-index: 1;
}

.btn--red::after {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--secondary-color);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100px;
    z-index: -1;
    transition: all .5s;
}

.btn--red:hover::after {
    transform: scale(1.5);
    opacity:0;
    z-index: 1;
}

/* Animations */

@keyframes mealCardEntrance {
    0% {
        opacity: 0;
        transform: scale(0.3);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* Header */

.header {
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0, 0, 0, 0.6)), url("img/header-bg.jpg");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    position: relative;
    color: var(--white-color);
    padding: 0 15rem;
}

.header__nav {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    align-items: center;
}

.header__brand {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__title {
    font-size: 1.1rem;
}

.header__brand img {
    height: 40px;
}

.header__items {
    display: flex;
}

.header__items > li {
    margin: 0 0.6rem;
    font-size: 0.9rem;
    position: relative;
}

.header__items > li:not(:last-child)::after {
    content: "";
    position:absolute;
    top:23px;
    left:0;
    width: 0;
    height: 3px;
    background: var(--primary-color);
    opacity: 0;
    transition: all .5s;
}

.header__items > li:hover::after {
    opacity: 1;
    width: 100%;

}

.fa-chevron-down {
    margin-left: 0.1rem;
    color: var(--primary-color);
    font-size: 0.6rem;
}

.header__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header__title {
    line-height: 1.3;
    margin-bottom: 1.2rem;
}

.header__titlemain {
    font-size: 3.5rem;
}

.header__titlesub {
    font-size: 3rem;
}

.header__titlemaininfo {
    font-size: 1.2rem;
}

.header__titlesubinfo {
    font-size: 1.2rem;
}

.header__content form {
    margin: 4rem 0;
    
}

.header__content form input {
    width: 79%;
    border:none;
    background: var(--white-color);
    padding: 0.7rem 0.5rem;
    border-radius: 100px;
    font-size: 1rem;
}

.header__content form a {
    font-size: 1rem;
    text-align: center;
    width: 20%;
}

.header__information {
    display: flex;
    justify-content: center;
}

.header__informationbox {
    margin: 0 0.5rem;
    background: rgba(255, 255, 255, 0.15);
    padding: 1rem 0;
    border-radius: 5px;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    transition: all .2s;
}

.header__informationbox:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); 
}

.header__informationbox i {
    font-size: 2rem;
    margin-bottom: 0.2rem;
    color: var(--primary-color);
}

.header__informationbox p {
    font-size: 0.8rem;
}

/* Section Booking */

.booking {
    padding: 1.5rem 20rem;
    background: var(--white-color);
    max-width:125rem;
    position: relative;
}

.booking__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.booking__titlemain {
    font-size: 1.2rem;
    color: var(--sub-header-color);
    text-transform: uppercase;
}

.booking form {
    display: flex;
    align-items: center;
}

.booking form label {
    font-size: 0.8rem;
    margin-right: 0.8rem;
    color: var(--sub-header-color);
}

.booking form input {
    border:none;
    background: var(--white-color);
    padding: 0.7rem 0.5rem;
    border-radius: 100px;
    font-size: 1rem;
    border: 2px solid var(--primary-color);
}

.booking form input:not(:last-child){
    margin-right: 1.5rem;
}

.booking form i {
    margin-right: 2.5rem;
    margin-left: -3.5rem;
    font-size: 1.2rem;
    color: var(--primary-color);
}

.booking__content a {
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    flex-shrink:0;
}

/* Section meals */

.meals {
    padding: 3rem 20rem;
    background: #F3F7FA;
    max-width:125rem;
}

.meals__content{
    text-align: center;
}

.meals__title {
    text-align: center;
}

.meals__titlemain {
    font-size: 2rem;
    color: var(--header-color);
}

.meals__titlesub {
    font-size: 1rem;
    color: var(--sub-header-color);
}

.meals__list {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 4rem 0;
}

.meals__list:hover .meals__listmeal{
    transform: scale(0.95);
}

.meals__listmeal {
    background: var(--white-color);
    width: 100%;
    height: 300px;
    animation: mealCardEntrance .7s ease-out;
    animation-fill-mode: backwards;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
    0 2px 4px rgba(0,0,0,0.07), 
    0 4px 8px rgba(0,0,0,0.07), 
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07), 
    0 32px 64px rgba(0,0,0,0.07);
    transition: all .2s;
}

.meals__list .meals__listmeal:hover {
    transform: translateY(-3px) scale(1.1);
}

.meals__listmealheader{
    height: 50%;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 2rem;
    position: relative;
    background:url("https://images.unsplash.com/photo-1432139555190-58524dae6a55?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1355&q=80") no-repeat center center/cover;
}

.meals__listmealheaderprice {
    position: absolute;
    top: 0;
    left:0;
    background: var(--primary-color);
    clip-path: polygon(100% 0, 90% 50%, 100% 100%, 0 100%, 0 0);
    margin-top: 1.5rem;
}

.meals__listmealheaderprice p {
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding: 0.1rem 0.8rem;
}

.meals__listmealbody {
    height: 50%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 1rem 1.2rem;
}

.meals__listmealbodytitle {
    text-align: left;
    font-size: 1rem;
}

.meals__listmealbodydescription{
    display: flex;
    text-align: left;
    margin-top: 0.3rem;
    margin-bottom: 1rem;
}

.meals__listmealbodydescription i {
    color: var(--primary-color);
    margin-right: 0.2rem;
}

.meals__listmealbodydescription p {
    color: var(--sub-header-color);
    margin-right: 0.5rem;
    font-size: 0.8rem;
}

.meals__listmealbody a {
    font-size:1rem;
    text-transform: uppercase;
    font-weight: 600;
}

.meals__content a {
    font-size:1rem;
    text-transform: uppercase;
}

/* Special Section */

.special {
    padding: 3rem 20rem;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0, 0, 0, 0.6)), url("https://images.unsplash.com/photo-1565976469553-00d571cf97b9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1920&q=80");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    max-width:125rem;
}

.special__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.special__title {
    font-size: 2rem;
    color: var(--primary-color);
    font-weight: 900;
}

.special__offer {
    color: var(--white-color);
    font-size: 4rem;
    font-weight: 900;
    display:inline;
}

.special__info {
    font-size: 1rem;
    color: var(--white-color);
}

.special__coupon {
    font-size: 1.5rem;
    color: var(--white-color);
}

.special__content a {
    font-size:1rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 1rem;
}







