/* Init Reset */

* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body {
    font-size: 62.5%;
    line-height: 1.7;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    position: relative;
    overflow:hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Variables */
:root {
    --white-color:#fff;
    --dark-color: #333;
    --grey-color: #CFD3DA;
    --light-grey-color: #EBECF0;
    --dark-grey-color: #6E7B91;
    --light-grey-color-2: #F9FAFC;
}

/* Utility */

.header__options--styling {
    transition: all .2s;
    background: rgba(255,255,255, .3);
    border-radius: 3px;
    padding: 0.5rem;
    font-size: 1.1rem;
    cursor:pointer;
}

.header__options--styling:hover {
    background: rgba(255,255,255, .2);
}

.header__flex--positioning {
    flex: 1;
    display: flex;
}

.header__input {
    padding:0.5rem;
    font-size: 1rem;
    border:none;
    outline: none;
    width: 100%;
    border-radius: 3px;
}

.header__input:focus {
    background: var(--white-color);
}

.header__popup {
    border-radius: 3px;
    width: 270px;
    padding: .5rem;
    background: var(--white-color);
    position: absolute;
    z-index:1;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
    0 2px 4px rgba(0,0,0,0.07), 
    0 4px 8px rgba(0,0,0,0.07), 
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07), 
    0 32px 64px rgba(0,0,0,0.07);
}

.toggle--Visibility {
    display: block !important;
}

.input {
    border: 2px solid var(--grey-color);
}

.input:focus {
    border: 2px solid #0079BF;
    background: transparent !important;
}

.input:hover {
    background: var(--light-grey-color);
}

.close__window {
    position: absolute; 
    top:1rem;
    right: .5rem;
    transform: translate(-50%, -50%);
    color: var(--white-color);
    font-size: 1rem;
    cursor: pointer;
}

/* Authentication */

.authentication {
    height: 100vh;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    background:var(--light-grey-color-2);
    z-index:6;
    display: none;
}

.authentication__header {
    display: flex;
    position: absolute;
    top: 75px;
    left:50%;
    transform: translate(-50%, -50%);
    align-items: center;
}

.authentication__brand {
    height: 50px;
    margin-right: .2rem;
}

.authentication__title {
    font-size: 2rem;
    color: #0079BF;
}

.authentication__form {
    position: absolute;
    width: 400px;
    background: var(--white-color);
    border-radius: 3px;
    height: auto;
    padding: 2.5rem;
    top: 330px;
    left:50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
    0 2px 4px rgba(0,0,0,0.07), 
    0 4px 8px rgba(0,0,0,0.07), 
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07), 
    0 32px 64px rgba(0,0,0,0.07);
    z-index: 2;
}

.authentication__auth{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.authentication__auth--switch {
    opacity:0;
    display: none;
}

.authentication__authtitle {
    margin-bottom: 2rem;
    color: var(--dark-color);
}

.authentication__input {
    margin-bottom: 1rem;
    background: var(--light-grey-color-2);
    font-size: 0.8rem;
    padding: 0.8rem;
}

.authentication__button {
    padding: .3rem 0;
    color: var(--white-color);
    background:#0079BF;
    width: 100%;
    border:none;
    outline:none;
    border-radius: 3px;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1rem;
}

.authentication__button:hover {
    background:#0067A3;
}

.authentication__info {
    font-size: .8rem;
    color: #0067A3;
}

.authentication__info:hover {
    border-bottom: .1px solid #0067A3;
}

.authentication__illustration {
    position:absolute;
    width: 100%;
    max-width: 400px;
    height: auto;
}

.authentication__illustration--1 {
    bottom: 0;
    left:0;
}

.authentication__illustration--2 {
    bottom: 0;
    right: 0;
}

/* Room Search */

.boards {
    height: 100vh;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    background:var(--light-grey-color-2);
    z-index:3;
    padding: 5rem 35rem;
    display:none;
}

.boards__search {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    min-width: 180px;
}

.boards__container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}

.boards__room {
    background: #0079BF;
    border-radius: 3px;
    padding: .5rem;
    font-size: 1rem;
    color: var(--white-color);
    height: auto;
    cursor:pointer;
}

.boards__room:hover {
    background: #0067A3;
}

.boards__newroom {
    background: var(--light-grey-color);
    color: var(--dark-grey-color);
    border-radius: 3px;
    padding: .5rem;
    font-size: 1rem;
}

.boards__newroom:hover {
    background: var(--grey-color);
}

/*create */

.create {
    height: 100vh;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    background:rgba(0,0,0, .7);
    z-index:9999;
    display: none;
}

.create__container {
    position: absolute;
    top: 7rem;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #0067A3;
    width: 300px;
    border-radius: 3px;
    padding: .6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.create__name {
    width: 90%;
}

.create__name:focus {
    border: 2px solid var(--white-color);
}

.create__privacy {
    color: var(--white-color);
    margin: .5rem 0;
    display:inline-flex;
    font-size: .8rem;
    align-items: center;
    border-radius: 3px;
    padding: .2rem .5rem;
}

.create__privacy:hover {
    background: rgba(0,0,0, .3);
}

.create__private {
    margin:0 .5rem;
}

.create__board {
    padding: .3rem 2rem;
    background: transparent;
    font-size: .8rem;
    border-radius: 3px;
    border: 2px solid var(--white-color);
    color: var(--white-color);
}

.create__board:hover {
    background: var(--white-color);
    color: #0079BF;
}

.create__popup {
    background: var(--white-color);
    border-radius: 3px;
    padding: .5rem 0;
    position: absolute;
    top: 89px;
    left: 12px;
    width: 100%;
    display:none;
}

.create__privacyoption {
    padding: .5rem;
    display: flex;
    align-items: center;
    color: var(--dark-grey-color)
}

.create__privacyoption:hover {
    background: var(--light-grey-color);
}


.create__option {
    margin: 0 .3rem;
}

.create__privaticon {
    color: #EF8F83;
} 

.create__publicicon {
    color: #61BD4F;
} 

/*Header*/

.header {
    background-color: #0067A3;
    color: var(--white-color);
    height: auto;
    display: flex;
    align-items: center;
    position: relative;
    z-index:5;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
}

.header__left {
    padding: 0.3rem;
    margin-right: auto;
    justify-content:flex-start;
}

.header__left > *:not(:last-child){
    margin-right: .3rem;
}

.header__search {
    width:100%;
    outline:none;
    font-size: 1rem;
    border:none;
}

.header__popup {
    display: none;
}

.header__popup--left {
    top: 53px;
    left: 3px;
}

.header__popup--right {
    top: 53px;
    right: 3px;
    text-align:center;
}
.header__popupButton {
    background: #F90005;
    border-radius: 3px;
    color: var(--white-color);
    padding: .3rem 0;
    font-size: 1rem;
    width: 100%; 
    display: block;
    text-align: center;
}

.header__popupButton:hover {
    background: rgb(230, 0, 4);
}

.header__roomtitle {
    margin:1rem 0.5rem;
    color: var(--dark-grey-color);
    font-size: 1rem;
}

.header__roomlist {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header__cards--styling:not(:last-child){
    margin-bottom: .3rem;
}

.header__cards--styling {
    width: 100%;
    background:rgba(198, 225, 241, 0.705);
    color: var(--dark-color);
    position: relative;
    padding: 0.3rem;
    text-align: center;
    font-size: 1rem;
    border-radius: 3px;
    overflow:hidden;
    font-weight: 600;
    cursor:pointer;
}

.header__cards--styling:hover {
    background: #C6E1F1;
}

.header__cards--styling:hover::before {
    background:#0079BF;
}


.header__cards--styling::before {
    content: '';
    width: 15%;
    height: 100%;
    background: rgba(0, 121, 191, 0.705);
    position: absolute;
    top:0;
    left:0;
}

.header__popOptions {
    width: 100%;
    margin-top: 1rem;
}

.header__popOption {
    width: 100%;
    background: transparent;
    font-size: 1rem;
    color: var(--dark-grey-color);
    border-radius: 3px;
    padding: .3rem;
}

.header__popOption:hover {
    background: var(--light-grey-color);
    color: var(--dark-color);
}

.header__popup-title {
    color: var(--dark-color);
    font-size: 1rem;
}

.header__userimg {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 1rem;
}

.header__userinfo {
    font-size: 1rem;
    color: var(--dark-color);
}

.header__middle {
    padding: 0.3rem;
    justify-content: center;
}

.header__brand {
    height: 30px;
    margin-right: 0.2rem
}

.header__title {
    font-size: 1.2rem;
}

.header__right {
    margin-left: auto;
    justify-content: flex-end;
}

.header__list {
    display: flex;
    padding: 0.3rem;
}

.header__list > *:not(:last-child){
    margin-right: .3rem;
}

.header__input--card {
    width: 250px;
}


.header__options:hover {
    background: var(--dark-color);
    color: var(--white-color);
}

/* Card Section */

.container {
    height: 100vh;
    background-color: #0079BF;
    z-index: 1;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    overflow: hidden;
}

.container--sorted {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.card {
    margin-right: .5rem;
    margin-top: .5rem;
    position: absolute;
}

.card--styling {
    width: 250px;
    height: 43px;
    background: var(--white-color);
    border-radius: 3px;
    color: var(--dark-color);
    font-size: 1rem;
    padding: 0.5rem;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
    0 2px 4px rgba(0,0,0,0.07), 
    0 4px 8px rgba(0,0,0,0.07), 
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07), 
    0 32px 64px rgba(0,0,0,0.07);
    cursor:pointer;
}

.card--popup:not(:last-child) {
    margin-bottom: .3rem;
}

.card__creator {
    position: absolute;
    clip-path: polygon(0% 0%, 100% 0%, 100% 87%, 18% 87%, 13% 100%, 8% 87%, 0 87%);
    top: -40px;
    left:0;
    color: var(--white-color);
    padding: .6rem;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
    0 2px 4px rgba(0,0,0,0.07), 
    0 4px 8px rgba(0,0,0,0.07), 
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07), 
    0 32px 64px rgba(0,0,0,0.07);
    font-size: 1rem;
    display:none;
    background: var(--dark-color);
    border-radius: 3px;
}

.card:not(:focus):hover .card__creator{
    transition-delay: .5s;
    display: block;
}

/* Responsive Queries */

@media (max-width:1200px) {
    .authentication__illustration {
        max-width: 300px;
    }

    .boards {
        padding: 5rem 15rem;
    }
}

@media (max-width:600px) {
    .authentication__illustration--1 {
        display:none;
    }

    .authentication__illustration--2 {
        right:50%;
        transform: translate(50%, 0);
    }

    .boards {
        padding: 5rem 2rem;
    }
}

@media (max-width:440px) {
    .header__middle {
        display: none;
    }

    .authentication__form {
        width: 300px;
        top: 320px;
    }

    .authentication__illustration {
        display:none;
    }
}