*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background: #2B2B2B;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.movie-searcher-form {
    position: relative;
    left: 0;
    top:0;
    position: fixed;
    width: 5vw;
    height: 100vh;
    background:#A63B5B;
    transition: 1s all;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-searcher-form img {
    width: 70px;
    height: 70px;
    margin-top: 1rem;
}

.movie-searcher-form img:hover {
    transform: scale(1.1);
}

.movie-searcher-form h2 {
    margin-top: 6rem;
    text-align: left;
}

.movie-searcher-form input {
    margin-top: 1rem;
    padding: 1rem;
    width:300px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
}

.movie-searcher-form input:hover {
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

.movie-searcher-form a {
    margin-top: 1rem;
    background:#2B2B2B;
    width: 300px;
    padding: 1rem 0;
}

.movie-searcher-form a:hover {
    background:rgba(43, 43, 43, 0.658);
}

.movie-animate-form {
    width: 20vw;
}

.movie-container {
    display: flex;
    align-items: center;
}

.movie-description{
    display: flex;
    flex-direction: column;
    max-width: 35ch;
    text-align: left;
    margin-left: 2rem;
}

.movie-description h1 {
    color: #A63B5B;
    margin-bottom: 1rem;
}

.movie-container p {
    color: #FFFFFF;
}


.movie-container img {
    width: 135px;
    height: 200px;
}

.movie-screen {
  background-color: #FFFFFF;
  height: 100px;
  width: 250px;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

.seat-container {
    display: flex;
    margin-right:3px;
}

.row{
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

.row:nth-child(5) {
    margin-left: 2rem;
}

.row:nth-child(8) {
    margin-right: 2rem;
}

.seat {
    width: 20px;
    height: 15px;
    background: #FFFFFF;
    margin: 5px 5px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
}

.seat-conditions{
    display: flex;
    margin: 1.5rem 0;
}

.condition-container{
    display: flex;
    margin:0 1rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    color:#9A9A9A;
}

.condition {
    width: 15px;
    height: 15px;
    margin-right: 0.6rem;
}

.selected {
    background:#F1B700;
}

.selection {
    background:#F1B700;
}

.taken {
    background: #656565;
}

.available {
    background:#FEFEFE;
}

.available:hover {
    transform: scale(1.1);
}

.book-container {
    display: flex;
    flex-direction: column;
}

.book-container p {
    margin: 2rem 0;
    color: #FFFFFF;
}

#seat-counter {
    color: #F1B700;
}

.btn {
    padding: 0.5rem 2rem;
    background: #A63B5B;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    color: #FFFFFF;
}

.btn:hover {
    background:rgba(166, 59, 91, 0.507);
    color: #858585;
}