/* Reset Initialization */
* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

:root {
  --white-color: #fff;
  --red-color: #FF4C4B;
  --black-color: #333;
}

/* body */
body {
    position: fixed;
    background:#3D4962;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
    width: 100%;
    font-family: 'Barlow Condensed', sans-serif;
}

/* Brand */
.brand {
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
  text-align: center;
  z-index: 1;
}

.brand__icon {
  height: 40px;
}

.brand__name {
  font-size: 1.2rem;
  color: var(--white-color);
}

/* Drink */
.goal {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  display: flex;
  align-items: center;
  z-index: 1;
}

.goal__drink {
  color: var(--white-color);
  font-size: 1.4rem;
}

.goal__number {
  font-size: 1.4rem;
  color: var(--white-color);
  margin-left: 0.2rem;
}

.goal__crown {
  font-size: 1.4rem;
  color: #FFCD00;
  margin-left: 0.4rem;
}

.drink {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.drink__goal {
  font-size: 1.5rem;
  color: var(--white-color);
}

.drink__progress {
  font-size: 4rem;
  color: var(--white-color);
}

.drink__percentage {
  font-size: 8rem;
  color: var(--white-color);
}

/* Water */

.water {
  position:absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  padding: 4rem;
  text-align: center;
  transition: all .5s;
}

.water--Toggle{
  padding: 12rem;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.water__option {
  color:#015871;
  background: var(--white-color);
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  padding: 3rem;
  z-index: 1;
  cursor: pointer;
}

.water__option i {
  font-size: 3rem;
  width: 50%;
  height: 50%;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.water__option--1 {
  z-index: 3;
  transition: all .2s;
  color:#015871;
  opacity:1;
}

.water__option--1:hover {
  transform:translate(-50%, -50%) scale(1.2);
}

.water__option--1Toggle {
  z-index:2;
  opacity:0;
}

.water__option--2 {
  transition: all .2s;
  opacity:0;
  z-index: 2;
  background: var(--red-color);
  color: var(--white-color);
}

.water__option--2:hover {
  transform:translate(-50%, -50%) scale(1.2);
}

.water__option--2Toggle {
  z-index:3;
  opacity:1;
}

.water__option--3 {
  transition: all .2s;
}

.water__option--3Toggle {
  top:0;
  left:50%;
  transform: translate(-50%, -50%);
}

.water__option--4 {
  transition: all .2s;
}

.water__option--4Toggle {
  top:0;
  left:90%;
  transform: translate(-90%, -10%);
}
.water__option--5 {
  transition: all .2s;
}

.water__option--5Toggle {
  top:0;
  left:10%;
  transform: translate(-10%, -10%);
}

.water__option p {
  position: absolute;
  top:45%;
  left:50%;
  transform: translate(-50%, -50%);
}

/* Ocean */
.ocean { 
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #015871;
  z-index: -1;
}

#ocean {
  height: 0;
}

.ocean__wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.ocean__wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}

/* input Water */

.input {
  position: fixed;
  top:0;
  left:0;
  z-index:7;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(10px);
  background-color: rgba(1, 89, 113, 0.2);
  transform: scale(1);
  transition: all .5s;
  opacity: 1;
}

.input__toggle {
  transform: scale(0);
  opacity:0;
}

.input__container {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  animation: slideIn 1.5s ease-in-out;
}

.form {
  background: rgba(1, 89, 113, 0.5);
  width: 20rem;
  height:20rem;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
    0 2px 4px rgba(0,0,0,0.07), 
    0 4px 8px rgba(0,0,0,0.07), 
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07), 
    0 32px 64px rgba(0,0,0,0.07);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.input__title {
  color: var(--white-color);
}

.input__water {
  border:none;
  padding: 1rem;
  width: 80%;
  margin: 1rem 0;;
  border-radius: 3px;
  color: #333;
}

.btn {
  padding: 0.8rem 0;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 3px;
  font-size: 1rem;
  width: 80%;
  color: var(--white-color);
  cursor: pointer;
}

@keyframes slideIn {
  0% {
    left: -10%;
  }

  50% {
    left: 60%;
  }

  100% {
    left: 50%;
  }
}
canvas {
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

